<div class="nav-wrap" ng-controller="UserOpeController">
	<div class="ope-info" ng-hide="online">
		<a href="javascript:void(0)" ng-click="clickToLogin()"><span class="glyphicon glyphicon-log-in"></span>登录</a>|
		<a href="javascript:void(0)" ng-click="clickToRegister()"><span class="glyphicon glyphicon-user"></span>注册</a>
		
		<div class="modal" id="loginModal">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">登录</h4>
				</div>
				
				<form style="padding:30px 80px;">
					<div class="form-group has-feedback">  
		                 <span class="glyphicon glyphicon-user"></span>
		                 <label for="account" style="color: gray;">用户名</label>  
		                 <input ng-model="username" 
		                 	type="text" 
		                 	class="form-control" 
		                 	name="account" 
		                 	placeholder="用户名" autofocus>  
		          	</div>
		          	<br/>
		            <div class="form-group has-feedback">
		                <span class="glyphicon glyphicon-lock"></span>
		                <label for="password" style="color: gray;">密码</label>  
		                <input ng-model="password"
		                	type="password"
		                	class="form-control"
		                	id="password"
		                	name="password"
		                	placeholder="密   码">
		            </div> 
				</form>
				
				<div class="modal-footer">
					现在还没有账号，立即去<a ng-click="clickToRegister()" data-dismiss="modal">注册</a>
					<button type="button" class="btn btn-primary" ng-click="login()" data-dismiss="modal">登录</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	
	<div class="modal" id="registerModal" name="registerForm">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">登录</h4>
				</div>
				
				<form name="registerForm" style="padding:30px 80px;">
					<div class="form-group has-feedback">  
		                 <span class="glyphicon glyphicon-user"></span>
		                 <label for="account" style="color: gray;">账号</label> 
		                 <br /> 
		                 <input
		                 	ng-model="username"  
		                 	ng-minlength="6"
		                 	ng-maxlength="20"
		                 	maxlength="20" 
		                 	type="text" 
		                 	class="form-control accountInput" 
		                 	name="username" 
		                 	placeholder="账   号" 
		                 	autofocus />
		                 	<p style="font-size:15px;color:red" 
							ng-if="registerForm.username.$error.minlength && registerForm.username.$touched">
							账号长度在6~20之间</p>
		                 	<p ng-show="usernameUsed" style="color:red; font-size: 15px;">此账号已经被注册</p>
		          	</div>
		            <div class="form-group has-feedback">
		                <span class="glyphicon glyphicon-lock"></span>
		                <label for="password" style="color: gray;">密码</label>  
		                <br/>
		                <input ng-model="password" 
		                	ng-minlength="6"
		                 	ng-maxlength="20"
		                	maxlength="20" 
		                	type="password" 
		                	class="form-control passwordInput" 
		                	name="password" 
		                	placeholder="密   码" /> 
		                <p style="font-size:15px;color:red"
						ng-if="registerForm.password.$error.minlength && registerForm.password.$touched">密码长度在6~20之间</p>
		            </div>
		            
		            <div class="form-group has-feedback">
		                <span class="glyphicon glyphicon-lock"></span>
		                <label for="password" style="color: gray;">确认密码</label>  
		                <br/>
		                <input ng-model="comfirmPassword" 
		                	maxlength="20" 
		                	type="password"
		                	class="form-control confirmPasswordInput" 
		                	name="confirmPassword" 
		                	placeholder="密   码" />
		                <p ng-show="comfirmPasswordInvalidate" style="color:red; font-size: 15px;">两次密码不一致</p>
		            </div>
				</form>
				
				<div class="modal-footer">
					已有账号，立即去<a ng-click="clickToLogin()" data-dismiss="modal">登录</a>
					<button type="button" class="btn btn-primary" ng-click="register()" data-dismiss="modal">注册</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	</div>
	
	<div class="ope-info" ng-hide="!online">
		<a href="javascript:void(0)">{{username}}</a>|
		<a href="javascript:void(0)" ng-click="logout()"><span class="glyphicon glyphicon-log-in"></span>退出</a>
	</div>
	
	<div class="nav-header">
		<div class="nav-info">
			<a href="#index"><img alt="" src="/gupiao/images/logo.png"></a>
		</div>
	</div>
	<div>
		<div class="search-div input-group">
			<input ng-model="inputStockCode" type="text" class="form-control input-lg" placeholder="输入股票代码"><span class="input-group-addon glyphicon glyphicon-search" ng-click="navSearch()"></span>
		</div>
	</div>
</div>
